.container{
    margin-left: 1%;
    margin-bottom: 15%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
    line-height: 60%;
}

.product img{
        border-radius: 5px;
        min-width: 96%;
        max-width: 96%;
        max-height: 175px;
        min-height: 170px;
}

.product img:hover{
    opacity: 70%;
    cursor: pointer;
}

.details{
    margin-top: 5%;
    font-size: large;
    width: 95%;
    display: flex;
    justify-content: space-between;
}

.name{
    font-weight: 300;
}

.price{
    color: green;
}